{{> app-header appHeaderData}}

<div class="container main-home">
    <section>
        <h3>Welcome!</h3>
        <p>
            This is the starter page for the IA LAMPjs framework.
        </p>
    </section>
</div>

{{> app-footer}}
