<footer>
    <div class="container">
        <div class="row social">
            <div class="twelve columns">
                <div class="social-links">
                    <span class="social-link">
                        <a href="http://www.facebook.com/InspiringApps" target="_blank" rel="noopener noreferrer">{{> svg-facebook-circle-icon}}</a>
                    </span>
                    <span class="social-link">
                        <a href="https://twitter.com/InspiringApps" target="_blank" rel="noopener noreferrer">{{> svg-twitter-circle-icon}}</a>
                    </span>
                    <span class="social-link">
                        <a href="https://www.instagram.com/inspiringapps/" target="_blank" rel="noopener noreferrer">{{> svg-instagram-circle-icon}}</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="six columns footer-legalese">
                <span class="terms-and-conditions">Terms &amp; Conditions</span>
                |<span class="disclaimer">Disclaimer</span>
            </div>
            <div class="six columns copyright">
                Copyright &copy; {{currentYear}}. <span>All Rights Reserved.</span>
            </div>
        </div>
    </div>
</footer>

{{! Modal masks}}
<div class="modal-mask"></div>
<div class="loading-overlay-mask"></div>

{{! App-wide modals}}
{{> terms-and-conditions}}
{{> disclaimer}}
{{> error-modal}}
