
{{! Disclaimer Modal }}
<div class="modal disclaimer-modal">
    <div class="title-bar">
        Disclaimer
        <span class="title-close">X</span>
    </div>
    <div class="modal-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="modal-message">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus ipsum sed lacus efficitur aliquam. Vestibulum mattis odio consequat, semper est a, commodo dolor. Cras fringilla ac nibh at venenatis. Duis et convallis sem. Phasellus at blandit eros. Integer velit lorem, scelerisque nec metus sit amet, faucibus euismod felis. Sed condimentum aliquam metus, non dignissim erat fringilla eu. Cras felis ligula, imperdiet in ex vitae, pellentesque tincidunt leo. In eu augue venenatis, viverra elit at, dignissim velit. Suspendisse imperdiet pretium ligula, at lacinia leo molestie at. Proin id hendrerit sapien. Maecenas eget porttitor ex. Pellentesque in ante id eros consequat ornare. Sed malesuada tempor tempor. Nunc at dui vel urna ultricies tempus quis a enim. Pellentesque ultrices, elit ac mollis laoreet, erat risus ultricies eros, sed lacinia tellus quam eget leo.
                    </p>
                    <p>
                        Proin quis lacus in ante congue varius. Nullam turpis enim, aliquet et urna non, imperdiet pellentesque ante. Vestibulum dui ante, accumsan scelerisque mi ac, aliquet accumsan dui. Sed velit tortor, dignissim a justo a, efficitur tempus nulla. Morbi non turpis erat. Quisque hendrerit semper luctus. Cras mollis commodo risus nec ultricies. Quisque congue luctus blandit. Pellentesque id est urna.
                    </p>
                    <p>
                        Integer molestie lectus vel erat fringilla rutrum. Curabitur lacinia sed augue quis dictum. Praesent quis dui luctus, posuere libero et, tincidunt metus. Proin vestibulum ornare purus, a aliquet mauris congue eu. Etiam malesuada vehicula suscipit. Nulla a erat id risus ultrices ultricies sit amet a est. Phasellus vestibulum egestas elit, ac vehicula odio tincidunt eu. Donec nec congue erat. Donec ac risus libero. Etiam ultrices malesuada rhoncus. Pellentesque erat felis, posuere et vulputate sed, tristique sed diam. Vestibulum in arcu placerat, congue lorem id, vulputate sapien. Vivamus efficitur nibh ut dolor pretium mattis. Cras eros diam, molestie quis mauris nec, elementum venenatis nibh. Quisque a libero molestie, mattis nisl a, euismod mi. Aliquam porta leo mollis metus varius commodo.
                    </p>
                    <p>
                        Integer in massa eu dui porta accumsan sed in purus. Etiam sed lacus dignissim nibh bibendum vehicula. Praesent non tempus urna. Aenean sed neque turpis. Integer ut cursus orci. Morbi maximus ultrices magna. Maecenas placerat augue at accumsan convallis. Nunc fringilla sodales ipsum, id laoreet velit dictum ac. Aenean maximus dignissim felis sit amet porta. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam ultrices dolor libero, nec finibus ante viverra suscipit. Vivamus nec metus a urna eleifend fermentum. Donec id arcu volutpat, convallis metus eu, tincidunt est. Pellentesque iaculis urna ac posuere auctor.
                    </p>
                    <p>
                        Sed vehicula erat nulla, in elementum ex semper ut. Mauris varius sodales lectus, ut fermentum massa eleifend ut. Donec placerat, augue vitae laoreet pellentesque, ligula odio tempor mi, a iaculis ante magna vitae neque. Cras fermentum risus enim, in malesuada augue scelerisque eu. Nulla commodo, magna in efficitur suscipit, felis tortor ullamcorper sapien, sed finibus sapien sem sed ex. Ut at diam dui. Cras sodales eleifend justo, in elementum sapien aliquam sed. Fusce eu luctus urna. Mauris id placerat velit, eget malesuada libero. Morbi iaculis massa tortor, eu laoreet tellus finibus at.
                    </p>
                    <div class="modal-buttons">
                        <span class="btn btn-cancel-ghost close-disclaimer">Close</span>
                    </div>
                    <div class="nudge-arrow pulse">
                        <svg viewBox="0 0 44 44">
                            <path d="M22 0C9.8 0 0 9.8 0 22s9.8 22 22 22 22-9.8 22-22S34.2 0 22 0zM31.7 25.7l-9 9C22.5 34.9 22.2 35 22 35c-0.3 0-0.5-0.1-0.7-0.3l-9-9C12.1 25.5 12 25.3 12 25s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4 0l4 4c0.3 0.3 0.9 0.1 0.9-0.4V10c0-0.6 0.4-1 1-1h2c0.6 0 1 0.4 1 1v16.6c0 0.4 0.5 0.7 0.9 0.4l4-4c0.4-0.4 1-0.4 1.4 0l1.4 1.4c0.2 0.2 0.3 0.4 0.3 0.7C32 25.3 31.9 25.5 31.7 25.7z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
