
{{! General Error Modal }}
<div class="modal general-error-modal">
    <div class="title-bar">
        Error Encountered
        <span class="title-close">X</span>
    </div>
    <div class="modal-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="modal-message">
                    <p>
                        Your request could not be processed.
                    </p>
                    <div class="error-message"></div>
                </div>
                <div class="modal-buttons">
                    <span class="btn btn-cancel-ghost close-general-error">Close</span>
                </div>
            </div>
        </div>
    </div>
</div>
